<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/qbank.css">
    <title>Questions</title>
</head>

<body>
    <div class="main p-5 d-flex justify-content-center text-center">
        <div class="card m-2 shadow" style="width: 18rem;">
            <img class="card-img-top" src="/assets/q.png" alt="Card image cap">
            <div class="card-body">
              
              <a href="/home" class="btn">Add Question</a>
            </div>
          </div>
          <div class="card m-2 shadow" style="width: 18rem;">
            <img class="card-img-top" src="/assets/b.png" alt="Card image cap">
            <div class="card-body">
              
              <a href="/qbank/1" class="btn">Q-Bank</a>
            </div>
          </div>
    </div>
</body>

</html>